.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#winner_games, #loser_games{
  display:inline-block;
  width: 250px;
  margin: 10px;
}

#winner_games{
  float:left;
  position:relative;
  left:100px;
}

#loser_games{
  float:right;
  position:relative;
  right:100px;
}

.racer_table td {
  background-color: white;
  height: 30px;
  width: 100px;
}

#start{
  float: right;
  margin-right: 20%%;

}
.racer_table td.poodle {
  background-image: url('poodle.jpeg');
  background-repeat: no-repeat;
}

.racer_table td.duck {
  background-image: url('duck.jpg');
  background-repeat: no-repeat;
}

#winner {
  margin-left: 30px;
}

table{
  border-collapse:separate;
  border-spacing:0 20px;
  position:relative;
  left: 20px;
}

.expand {
  width: 30px;
  margin: 0;
  padding: 0;
}

td {
  margin: 100px;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
}
tr {
  border-spacing:20px;
  border: 2px dashed blue;
}

button {
  margin: 10px;
}
