body {
  background-image: url('http://www.state.nj.us/dep/wms/bfbm/GreatGorgeLake.jpg');
  background-size: cover;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#winner_games, #loser_games{
  display:inline-block;
  width: 250px;
  margin: 10px;
  color: red;
}

#winner_games{

  float:left;
  position:relative;
  left:100px;
}

#loser_games{
  float:right;
  position:relative;
  right:100px;
}

.racer_table td {
  background-color: none;
  height: 30px;
  width: 100px;
}

#start{
  float: right;
  margin-right: 20%;

}
#player2_strip td.active {
  background-image: url('poodle.jpeg');
  background-repeat: no-repeat;
}

#player1_strip td.active {
  background-image: url('duck.jpg');
  background-repeat: no-repeat;
}

.fire {
  background-image: url('http://media.heraldsun.com.au/multimedia/2014/jan/maps/images/fire2.gif');
  background-size: cover;
}

.smoke {
  background-image: url("http://i763.photobucket.com/albums/xx275/michael_1997_2009/smoke.gif");
  background-size: cover;
}

#winner {
  margin-left: 30px;
}

table{
  border-collapse:separate;
  border-spacing:0 20px;
  position:relative;
  left: 20px;
}

.expand {
  width: 30px;
  margin: 0;
  padding: 0;
}

td {
  margin: 100px;

}
tr {
  border-spacing:20px;
}

button {
  margin: 10px;
}
