<div class="container">
  <h1>Welcome to Duck/Poodle Racer!</h1>
  <form action="/" method="post">
    <label >Player #1:</label><input type="text" name="player1"  placeholder="e.g. alex">
    <label >Player #2:</label><input type="text" name="player2"  placeholder="e.g. amara" >
    <input type="submit" value="Start Game">
  </form>
</div>
